body {
	background: black;
	color: white;
	font: Verdana, Geneva, sans-serif;
	font-size: 60px;
	line-height: 100px;
	overflow: hidden;
}
p {
	margin: 50px;
}
#teleprompter {
	position: absolute;
}